html,
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: serif;
}

#main-banner {
  background-image: url(/images/iceland7.avif);
  background-position: center;
}

.main-banner {
  height: 100vh;
  background-size: 100% 100%;
}

/*Navbar Section*/
.navbar {
  color: white;
  float: right;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  margin-top: 3%;
}

.divider {
  float: right;
  padding-right: 1%;
  margin-top: 3%;
  width: 10%;
}

a {
  color: rgb(182, 178, 178);
  text-decoration: none;
  line-height: 1.6;
}

a:hover {
  color: white;
}

/*Beyond Section*/
.beyond_header {
  margin-left: 10%;
  color: white;
  padding-top: 28%;
  width: 40%;
  font-size: 1.0rem;
}

.beyond-divider {
  width: 25%;
  float: left;
  margin-right: 4%;
}

.header_paraghraph {
  margin: 0;
}

.title {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin: 0;
}

.description {
  margin: 0;
  line-height: 1.7;
  max-width: 450px;
}

/*Nature Section*/
.nature_images {
  height: 600px;
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 15%;
}

.nature_right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  right: 20%;
  width: 60%;
  height: 550px;
  display: flex;
  position: absolute;
  top: 95%;
  left: 30%;
}

.nature_left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 65%;
  position: relative;
  height: 450px;
  top: 30%;
  right: 5%;
}

.image_nature_left {
  width: 100%;
  height: 450px;
}

.image_nature_right {
  background-size: contain;
  width: 60%;
}

.image_nature {
  width: 100%;
  height: 60%;
}

.nature_btn {
  position: absolute;
  top: 370px;
  left: 56%;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-color: gainsboro;
  font-size: 11px;
  font-weight: bold;
  border-width: 1px;
  background-color: white;
}

.nature_text {
  background-color: white;
  padding-left: 3%;
  width: 50%;
}

.nature_divider {
  width: 20%;
  margin-top: 20%;
  margin-left: 0%;
  margin-bottom: 0%;
}

.title_nature {
  font-family: "Times New Roman", Times, serif;
  padding-top: 0px;
  font-size: 50px;
  margin-top: 2%;
}

.paragraph_nature {
  max-width: 90%;
  padding-bottom: 30%;
}

/*Another Planet Section*/
.flex-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.flex-divider {
  width: 10%;
  position: absolute;
  top: auto;
  left: 32%;
}

.flex-container>div {
  margin: 20px;
  padding-top: 0px;
  padding-left: 0px;
}

.icetree {
  width: 250px;
  height: 250px;
}

.iceTree-h1 {
  font-size: 40px;
  width: 360px;
  padding-top: 2px;
  color: rgba(0, 0, 0, 0.664);
}

.iceTree-p {
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.664);
}

.iceTree-paragraph {
  padding-top: 117px;
  width: 360px;
  color: rgba(0, 0, 0, 0.664);
}

/*Stay Section*/
.stay_images {
  height: 600px;
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 15%;
}

.stay_right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  right: 20%;
  width: 60%;
  height: 500px;
  display: flex;
  position: absolute;
  top: 290%;
  left: 10%;
}

.stay_left {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 65%;
  position: relative;
  height: 410px;
  top: 55%;
  left: 40%;
}

.image_stay_left {
  width: 100%;
  height: 410px;
}

.image_stay_right {
  background-size: contain;
  width: 70%;
}

.image_stay {
  width: 100%;
  height: 60%;
}

.stay_right_text {
  background-color: white;
  padding-left: 5%;
  width: 70%;
}

.stay_divider {
  width: 20%;
  margin-top: 20%;
  margin-left: 0%;
  margin-bottom: 0%;
}

.stay_title {
  font-family: "Times New Roman", Times, serif;
  padding-top: 0px;
  font-size: 50px;
  margin-top: 2%;
}

.stay_paragraph {
  max-width: 90%;
  padding-bottom: 30%;
}

.stay_btn {
  position: absolute;
  top: 75%;
  left: 5%;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-color: gainsboro;
  font-size: 11px;
  font-weight: bold;
  border-width: 1px;
  background-color: white;
}


/*Epic Spots Section*/
.gallery-header {
  color: rgba(0, 0, 0, 0.651);
  position: absolute;
  top: 2650px;
  left: 42.2%;
  font-size: 21px;
}

.gallery-divider {
  width: 70px;
  position: absolute;
  top: 10px;
  left: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  position: absolute;
  top: 3050px;
  float: center;
  left: 15%;

}

.grid-container>div {
  text-align: center;
}

.grid1 {
  grid-column: 1 / span 2;
  grid-row: 1/span 2;
  position: relative;
  top: -248px;
}

.grid2,
.grid3,
.grid4,
.grid5 {
  position: relative;
  top: -250px;
}

.grid-container>div .item1-image {
  max-width: 500px;
}

.grid-container>div img {
  max-width: 230px;
}

.item1-container {
  position: absolute;
  top: 240px;
  left: 40px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 10px;
}

.item1-heading {
  position: absolute;
  top: 255px;
  left: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.item2-container {
  position: absolute;
  top: 95px;
  left: 20px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 10px;
}

.item2-heading {
  position: absolute;
  top: 100px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.item3-container {
  position: absolute;
  top: 95px;
  left: 20px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 10px;
}

.item3-heading {
  position: absolute;
  top: 100px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.item4-container {
  position: absolute;
  top: 95px;
  left: 20px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 10px;
}

.item4-heading {
  position: absolute;
  top: 100px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.item5-container {
  position: absolute;
  top: 95px;
  left: 20px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 10px;
}

.item5-heading {
  position: absolute;
  top: 100px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/*Footer Section*/
.footer {
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  margin: auto;
  margin-top: 67%;
  margin-bottom: 0%;
  background-image: url("images/footer_bg.jpg");
  position: absolute;
  top: 2400px;

}

.header_footer {
  width: 30%;
  height: auto;
  margin: auto;
  padding-top: 4%;
  padding-left: 10%;
  color: rgba(245, 245, 245, 0.829);
  font-size: 1.4rem;
}

.guide-p {
  font-size: 12px;
  position: relative;
  bottom: 50px;
  padding-top: 35px;
  padding-left: 42%;
  color: rgba(245, 245, 245, 0.829);
  font-family: 'Times New Roman', Times, serif;
}

.name {
  background: transparent;
  width: 200px;
  height: 30px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-color: rgba(220, 220, 220, 0.384);
  border-width: 2px;
  position: absolute;
  left: 43%;
  top: 200px;
}

.email {
  background: transparent;
  width: 200px;
  height: 30px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-color: rgba(220, 220, 220, 0.384);
  border-width: 2px;
  position: absolute;
  left: 43%;
  top: 250px;
}

.submit {
  border-width: 0px;
  position: absolute;
  left: 44%;
  top: 350px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  background-color: rgba(32, 29, 29, 0.699);
  font-size: 11px;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.829);
}

.copyright {
  color: rgb(168, 163, 163);
  padding-left: 50px;
  position: absolute;
  top: 440px;
  left: 0.5%;
  width: 200px;
}

.copyright_paragraph {
  margin-top: 0px;
  float: left;
  color: rgb(168, 163, 163);
  position: absolute;
  top: 440px;
  right: 0.5%;
  width: 200px;
}

@media only screen and (max-width: 1200px) {
  .main-banner {
    width: 100%;
    background-size: cover;
  }

  .beyond_header {
    margin-left: 5%;
    padding-top: 55%;
  }
  .stay_images {
    height: 1200px;
  }

  .flex-container {
    width: 100%;
    position: absolute;
    top: 1350px;
    left: 0%;
  }

  .icetree {
    width: 200px;
    height: 265px;
    position: absolute;
    left: 10%;
  }

  .iceTree-h1 {
    font-size: 20px;
    width: 200px;
    padding-top: 0px;
    position: absolute;
    left: 40%;
    top: 20px;
  }

  .flex-divider {
    position: absolute;
    top: 15px;
    left: 40%;
  }

  .iceTree-p {
    padding-top: 30px;
    position: absolute;
    left: 40%;
    width: 200px;
  }

  .iceTree-paragraph {
    padding-top: 30px;
    width: 200px;
    position: absolute;
    left: 70%;
  }

  .gallery-header {
    position: absolute;
    top: 2500px;
    left: 40%;
  }

  .grid-container {
    grid-template-columns: auto auto;
    position: absolute;
    top: 2900px;
    left: 20%;
  }

  .grid1 {
    grid-column: 1 / span 2;
    grid-row: 1/span 2;
    position: relative;
    left: -1%;
  }

  .grid2,
  .grid3,
  .grid4,
  .grid5 {
    position: relative;
    top: -250px;
  }

  .grid-container>div .item1-image {
    max-width: 500px;
  }

  .grid-container>div img {
    max-width: 230px;
  }

  .footer {
    position: absolute;
    top: 2400px;
    margin-top: 125%;
  }

  .header_footer {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 30%;
    width: 200px;
  }

  .guide-p {
    padding-left: 38%;
    width: 300px;
  }

  .submit {
    margin-left: -20px;
  }

  .name {
    position: absolute;
    left: 40%;
    top: 150px;
  }

  .email {
    position: absolute;
    left: 40%;
    top: 200px;
  }

  .copyright {
    padding-left: 30px;
    position: absolute;
    left: 2%;
  }

  .copyright_paragraph {
    padding-left: 550px;
    position: absolute;
    right: 2%;
  }

}

@media only screen and (max-width: 768px) {
  .main-banner {
    width: 100%;
    background-size: cover;
  }

  .description {
    margin: 2px;
    line-height: 1.2;
    font-size: 10px;
  }

  .nature_right {
    left: 0px;
    width: 100%;
    top: 100%;
  }

  .nature_left {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 180%;
    left: 0px;
  }

  .stay_right {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 2100px;
    left: 0px;
  }

  .stay_left {
    width: 100%;
    position: absolute;
    height: 400px;
    top: 2600px;
    left: 0px;
  }

  .flex-container {
    width: 100%;
    position: absolute;
    top: 1650px;
    left: 0%;
  }

  .icetree {
    width: 150px;
    height: 265px;
    position: absolute;
    left: 10px;
  }

  .iceTree-h1 {
    font-size: 20px;
    width: 200px;
    padding-top: 0px;
    position: absolute;
    left: 30%;
    top: 20px;
  }

  .flex-divider {
    position: absolute;
    top: 15px;
    left: 30%;

  }

  .iceTree-p {
    padding-top: 30px;
    position: absolute;
    left: 30%;
    width: 150px;
  }

  .iceTree-paragraph {
    padding-top: 30px;
    width: 150px;
    position: absolute;
    left: 65%;
  }

  .gallery-header {
    position: absolute;
    top: 3100px;
    left: 34%;
  }

  .grid-container {
    grid-template-columns: auto auto;
    position: absolute;
    top: 3500px;
    left: 15%;
  }

  .grid1 {
    grid-column: 1 / span 2;
    grid-row: 1/span 2;
    position: relative;
    left: -1%;
  }

  .grid2,
  .grid3,
  .grid4,
  .grid5 {
    position: relative;
    top: -250px;
  }

  .grid-container>div .item1-image {
    max-width: 500px;
  }

  .grid-container>div img {
    max-width: 230px;
  }

  .footer {
    position: absolute;
    top: 3100px;
    margin-top: 125%;
  }

  .header_footer {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 200px;
  }

  .guide-p {
    padding-left: 250px;
  }

  .submit {
    margin-left: -30px;
  }

  .name {
    position: absolute;
    left: 36%;
    top: 150px;
  }

  .email {
    position: absolute;
    left: 36%;
    top: 200px;
  }

  .copyright {
    padding-left: 30px;
    position: absolute;
    left: 2%;
  }

  .copyright_paragraph {
    padding-left: 550px;
    position: absolute;
    right: 2%;
  }
}